<div class="hero min-h-screen" style='background-image: url(../../../../../assets/Elements/fondo.jpg);'>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aprende Sobre La Biblia</h1>
      <p class="mb-5">En esta página hecha en colaboración entre los hermanos de nuestra iglesia podrás encontrar herramientas útiles para estudiar la Biblia, preparar mensajes, y conocer más a profundidad los diversos libros de la Biblia y sus personajes.

        Te invitamos a que nos acompañes a sumergirte en esta herramienta cada vez que quieras, pero especialmente si debes preparar un estudio para la iglesia
      </p>
      <button (click)="redirectToBible()" class="btn btn-primary">Comencemos</button>
    </div>
  </div>
</div>
